{% extends "main/base.html" %}
{% load static %}



{% block title %}Contact Us{% endblock %}

{% block fileStyle %}

<link rel="stylesheet" href="{% static 'css/contact_page.css' %}">

{% endblock %}

{% block content %}

<section class="hero">
    <div class="overlay"></div>
    <div class="hero-content text-center">
        <div class="get-in-touch">
            <i class="bi bi-chat"></i> Get In Touch
        </div>
        <h1>Connect with <span>Majd</span> </h1>
        <p>
            Whether you're looking to partner, sponsor, or have questions about our platform, 
            we're here to help build the future of Saudi sports together.
        </p>
    </div>

</section>






{% endblock %}