{% extends "academies/dashboard_base.html" %}

{% block content %}
<h2>Students</h2>
<a href="{% url 'academies:coach_add' %}" class="btn btn-success mb-3">Add Coach</a>
<ul>
  {% for student in students %}
    <li>
      {{ students.user.username }} - {{ students.specialty }}
      <a href="{% url 'academies:coach_edit' coach.pk %}">Edit</a>
      <a href="{% url 'academies:coach_delete' coach.pk %}">Delete</a>
    </li>
  {% empty %}
    <li>No coaches yet.</li>
  {% endfor %}
</ul>
{% endblock %}
