

.list-group-item.active {
  background-color: #198754;
  border-color: #198754;
  color: #fff;
}
.list-group-item.active i { color: #fff; }

.list-group-item {
  border: 0;
  border-radius: .5rem;
  padding: .65rem .75rem;
}
.list-group-item:hover {
  background-color: #f2fbf7;
}

.min-vh-100 { min-height: 100vh; }
.shadow-sm-sm { box-shadow: 0 2px 8px rgba(0,0,0,.05); }
