/* Sidebar */
.sidebar {
    width: 250px;
    height: 100vh;
    background: #f8f9fa;
    border-right: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
}

.sidebar .nav-link {
    color: #333;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: 0.2s;
    font-weight: 500;
}

.sidebar .nav-link i {
    color: #666;
}

.sidebar .nav-link:hover {
    background: #e9f7f1;
    color: #2eaf7d;
}

.sidebar .nav-link.active {
    background: #2eaf7d;
    color: #fff !important;
    font-weight: 600;
}

.sidebar .nav-link.active i {
    color: #fff !important;
}

/* Topbar */
.topbar {
    background: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.topbar h4 {
    font-weight: 600;
    color: #333;
}

.topbar .btn {
    border-radius: 8px;
}

/* Page Content */
.content-area {
    padding: 25px;
    background: #fdfdfd;
    min-height: 100vh;
}

.right-father {
    width: 100%;
}

/* User Dropdown */
.user-info-btn:focus,
.user-info-btn:active,
.user-info-btn.show {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.dropdown {
    border-top: 1px solid rgb(221, 219, 219);
}

.academy-logo {
    border-bottom: 1px solid rgb(221, 219, 219);
    padding-bottom: 9px;
}

/* Responsive */
@media (max-width: 991.98px) {
    .sidebar {
        display: none;
    }
}

/* Offcanvas */
#sidebarOffcanvas.offcanvas-start {
    width: 250px;
}

.offcanvas .nav-link {
    color: #333;
    padding: 10px 15px;
    border-radius: 8px;
    margin-bottom: 5px;
    transition: 0.2s;
    font-weight: 500;
}

.offcanvas .nav-link:hover {
    background: #e9f7f1;
    color: #2eaf7d;
}

.offcanvas .nav-link.active {
    background: #2eaf7d;
    color: #fff !important;
    font-weight: 600;
}
.stat-card {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.stat-card h6 {
    font-size: 14px;
    font-weight: 600;
}

.stat-card h4 {
    font-size: 22px;
    font-weight: 700;
}

.stat-card small {
    font-size: 13px;
}
